<div class="row">
  <div class="col-4 ml-auto">
    <div class="float-right">
      <dsjt-pager *ngIf="totalCount"
                  [page]="page"
                  [pageSize]="pageSize"
                  [totalCount]="totalCount"
                  [getQueryParams]="createGetQueryParams()">
      </dsjt-pager>
    </div>
  </div>
</div>

<table class="table table-sm">
  <thead class="thead-default" *ngIf="totalCount > 0">
  <tr>
    <th>
      <a routerLink="./"
         [queryParams]="assignQueryParams({sortBy: 'type', sortOrder: sortOrder*-1})">
        Type
      </a>
    </th>
    <th>
      <a routerLink="./"
         [queryParams]="assignQueryParams({sortBy: 'date', sortOrder: sortOrder*-1})">
        Date
      </a>
    </th>
    <th>
      <a routerLink="./"
         [queryParams]="assignQueryParams({sortBy: 'hillCount', sortOrder: sortOrder*-1})">
        Hill count
      </a>
    </th>
    <th>
      <a routerLink="./"
         [queryParams]="assignQueryParams({sortBy: 'participants', sortOrder: sortOrder*-1})">
        Participants
      </a>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tournament of tournaments$ | async">
    <td>
      <span class="badge badge-secondary badge-dsj{{tournament.gameVersion}}">DSJ{{tournament.gameVersion}}</span>
      <a href="http://dsjtournaments.com/tournaments/{{tournament.id}}" target="_blank">
        {{tournament.type}}
      </a>
    </td>
    <td>{{tournament.date | date}}</td>
    <td>{{tournament.hillCount || '?'}}</td>
    <td>{{tournament.participantCount || '?'}}</td>
    <td>
      <button type="button" class="btn btn-sm btn-danger" (click)="deleteTournament(tournament)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
