<div class="ui two column stackable grid" *ngIf="tournament | async, let t">
  <div [ngClass]="{twelve: standingsView === 'normal' || currentCompetition, sixteen: standingsView === 'per-hill' && !currentCompetition, wide: true, column: true}">
    <div class="ui stackable two column grid">
      <div class="eight wide column">
        <div class="ui items">
          <app-tournament-header [tournament]="t" class="item"></app-tournament-header>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui segment center aligned" *ngIf="currentCompetition">
          <i [appFlag]="currentCompetition.hillNation"></i>
          {{currentCompetition.hillName}}
          <span *ngIf="currentCompetition.fileNumber > 1">[{{currentCompetition.fileNumber}}]</span>
          <span *ngIf="currentCompetition.ko">(KO)</span>
        </div>
      </div>
    </div>

    <div *ngIf="t.cups?.length" class="ui info message" style="margin-top: 0">
      This tournament is part of
      <ng-container *ngFor="let cup of t.cups, let i = index">
        <a [routerLink]="['/cups', cup.id]">
          {{cup.name}}
        </a><span *ngIf="i < t.cups.length - 2">, </span><span *ngIf="i === t.cups.length - 2"> and </span>
      </ng-container>
    </div>

    <div *ngIf="!currentCompetition">
      <div class="ui secondary pointing menu" *ngIf="t.competitions.length">
        <a class="item"
           [class.active]="standingsView === 'normal'"
           href="javascript:void(0)"
           (click)="standingsView = 'normal'">
          Final standings
        </a>
        <a class="item"
           [class.active]="standingsView === 'per-hill'"
           href="javascript:void(0)"
           (click)="standingsView = 'per-hill'">
          Per-hill rankings
        </a>
      </div>

      <app-final-standings-table
        *ngIf="standingsView === 'normal'"
        [results]="t.finalStandings">
      </app-final-standings-table>

      <app-final-standings-per-hill
        *ngIf="standingsView === 'per-hill'"
        [competitions]="t.competitions"
        [results]="t.finalStandings">
      </app-final-standings-per-hill>
    </div>

  <router-outlet></router-outlet>
</div>

  <div class="four wide column" [hidden]="standingsView === 'per-hill' && !currentCompetition">
    <div class="ui segment">
      <app-competition-list
        *ngIf="t.competitions.length"
        [competitions]="t.competitions">
      </app-competition-list>

      <p *ngIf="!t.competitions.length">
        No individual competition stats are uploaded for this tournament.
      </p>
    </div>
  </div>
</div>
