<ng-container [formGroup]="form">
  <td>
    <span [dsjtFlag]="model.nation"></span>
    <img *ngIf="model.gravatarHash"
         class="rounded"
         [src]="'https://www.gravatar.com/avatar/' + model.gravatarHash + '?s=20'">
    <a href="http://dsjtournaments.com/jumpers/{{model.id}}" target="_blank">
      {{model.name}}
    </a>
  </td>
  <td style="width: 10em;">
    <input type="text"
           name="nation"
           class="form-control form-control-sm"
           [class.is-invalid]="!form.get('nation').valid"
           formControlName="nation"
           maxlength="3"
           style="width: 4em;">
  </td>
  <td>
    <input type="text"
           name="gravatarEmail"
           class="form-control form-control-sm"
           formControlName="gravatarEmail"
           [class.is-invalid]="!form.get('gravatarEmail').valid">
  </td>
  <td>
    {{model.participations}}
  </td>
  <td>
    {{model.lastActive | date}}
  </td>
  <td>
    <button type="button"
            class="btn btn-outline-primary btn-sm float-right"
            (click)="mergeButtonClicked.emit(model)">
      <i class="fa fa-compress"></i>
      Merge into...
    </button>
  </td>
</ng-container>
