<td>
  <span [dsjtFlag]="model.nation"></span>
  <a href="http://dsjtournaments.com/jumpers/{{model.id}}" target="_blank">
    {{model.name}}
  </a>
</td>
<td style="width: 10em;">
  <form class="form-inline">
    <div class="form-group" [class.has-danger]="!countryCodeIsValid">
      <input type="text"
             name="nation"
             class="form-control form-control-sm"
             maxlength="3"
             [(ngModel)]="model.nation"
             (ngModelChange)="handleCountryCodeChanged($event)"
             style="width: 4em;">&nbsp;
      <i class="fa fa-check text-success" *ngIf="showSaveFeedback"></i>
      <i class="fa fa-spinner fa-spin" *ngIf="isSaving"></i>
    </div>
  </form>
</td>
<td>
  {{model.participations}}
</td>
<td>
  {{model.lastActive | date}}
</td>
<td>
  <button type="button"
          class="btn btn-outline-primary btn-sm float-right"
          (click)="mergeButtonClicked.emit(model)">
    <i class="fa fa-compress"></i>
    Merge into...
  </button>
</td>
