<div *ngIf="!clearUploader"
     [hidden]="files.length > 0"
     class="uploader"
     ngFileDrop
     (uploadOutput)="onUploadOutput($event)"
     [uploadInput]="uploadInput"
     [ngClass]="{ 'is-drop-over': dragOver }">

  <label>
    <h1 class="ui icon header">
      <i class="circular cloud upload icon"></i>
      <div class="content">
        Click or drop files here to upload
      </div>
    </h1>
    <input type="file"
           ngFileSelect
           (uploadOutput)="onUploadOutput($event)"
           [uploadInput]="uploadInput"
           multiple>
  </label>
</div>

<div *ngIf="files.length">
  <div>
    <div class="ui active label">
      <i class="check icon" *ngIf="completedCount === files.length"></i>
      <i class="notched circle loading icon" *ngIf="completedCount < files.length"></i>
      Completed
      <div class="detail">
        {{completedCount}} / {{files.length}}
      </div>
    </div>

    <div class="ui green label">
      Success
      <div class="detail">
        {{successCount}}
      </div>
    </div>

    <div class="ui yellow label">
      Skipped
      <div class="detail">
        {{skippedCount}}
      </div>
    </div>

    <div class="ui red label">
      Failed
      <div class="detail">
        {{failedCount}}
      </div>
    </div>

    <button *ngIf="completedCount === files.length"
            class="ui right floated secondary mini basic button"
            (click)="reset()">
      Upload more files
    </button>
  </div>

  <table class="ui table">
    <tr *ngFor="let file of files"
        [class.positive]="isSuccess(file)"
        [class.error]="isError(file)"
        [class.disabled]="isInvalid(file)">
      <td>
        <strong>{{file.name}}</strong><br />
        {{file.response?.message || file.response?.data?.message}}
        <span *ngIf="!file.response">
          <i class="notched circle loading icon"></i>
        </span>
      </td>
      <td>{{humanizeBytes(file.size)}}</td>
    </tr>
  </table>
</div>
