<div id="schedule"></div>

<div class="form-group">
  <input type="hidden" class="form-control" [class.is-invalid]="dates.hasError('minlength') && dates.touched">
  <div class="invalid-feedback">
    The schedule can't be empty.
  </div>
</div>

<div *ngFor="let group of monthGroups">

  <h5>{{group.month.format('MMMM Y')}}</h5>

  <ul class="list-unstyled">
    <li *ngFor="let cupDate of group.dates" [formGroup]="cupDate">
      <div class="row">
        <div class="col-sm-5">
          {{moment(cupDate.get('date').value).format('dddd, MMM Do')}}
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm" [class.has-danger]="cupDate.get('time').touched && !cupDate.get('time').valid">
            <input type="text" class="form-control form-control-sm" formControlName="time">
            <div class="form-control-feedback" *ngIf="cupDate.get('time').touched && cupDate.get('time').hasError('required')">
              Can't be blank.
            </div>
            <div class="form-control-feedback" *ngIf="cupDate.get('time').touched && cupDate.get('time').hasError('pattern')">
              Must be in format HH:MM.
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <select class="form-control form-control-sm" *ngIf="types" formControlName="typeId">
            <option value=""></option>
            <option *ngFor="let type of typesForGameVersion" [value]="type.id">{{type.name}}</option>
          </select>
        </div>
      </div>
    </li>
  </ul>
</div>
